body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.header{
    background:#006400;
    color:white;
    text-align:center;
    padding:20px;
}

.logo{
    width:120px;
    height:auto;
    margin-bottom:10px;
}

.container{
    max-width:500px;
    margin:30px auto;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

input,
select,
button{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    box-sizing:border-box;
}

button{
    background:#006400;
    color:#fff;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#008000;
  }
